/* Copyright cantstopthesignals@gmail.com */
body {
  font-size: 16px;
}
.footer {
  display: none;
}
.edit-event-dialog {
  top: 72px;
}
.edit-event-dialog .editor-row {
  margin-top: 16px;
}
.edit-event-dialog .button {
  margin-top: 16px;
}
.edit-event-dialog div.todo,
.edit-event-dialog div.isEstimated {
  margin-top: 16px;
}
.summary-input {
  font-size: 20px;
  width: calc(100% - 10px);
}
.date-input {
  width: 95px;
  padding: 6px 0 6px 0;
}
.time-input {
  width: 80px;
  padding: 6px 0 6px 0;
}
