/* Copyright cantstopthesignals@gmail.com */
body {
  font-size: 16px;
}
.edit-event-dialog {
  top: 72px;
}
.summary-input {
  font-size: 20px;
  width: calc(100% - 10px);
}
.date-input {
  width: 95px;
  padding: 6px 0 6px 0;
}
.time-input {
  width: 80px;
  padding: 6px 0 6px 0;
}
