/* Copyright cantstopthesignals@gmail.com */
html {
  background: white;
  height: 100%;
  overflow: hidden;
}
body.main {
  background-color: #333;
  font-family: Arial;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  height: 100%;
  width: 100%;
}
body > iframe {
  top: -100px;
}
a {
  color: #0000cc;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.app {
  height: 100%;
}
.app-bar {
  background-color: #222222;
  position: relative;
  box-sizing: border-box;
}
.app-bar-icon {
  display: inline-block;
  vertical-align: middle;
}
.app-icon {
  display: inline-block;
  overflow: hidden;
}
.app-icon > .inner {
  width: 128px;
  height: 128px;
  background: url(/images/logo128.png) no-repeat;
}
.app-bar-main-menu {
  color: white;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.app-bar-main-menu > .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.app-bar-main-menu > .arrow {
  width: 0;
  height: 0;
  position: absolute;
  right: 0;
  bottom: 0;
}
.app-bar > .spinner {
  float: right;
}
.app-bar-button-bar {
  float: right;
}
.app-bar-button-bar > .button {
  float: right;
  margin-left: 5px;
}
.footer {
  color: #ddd;
  text-align: center;
}
.footer > a {
  color: #99f;
}
.button {
  background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
  color: black;
  cursor: pointer;
  border: 1px solid #999;
  border-radius: 2px;
  display: inline-block;
  margin: 0;
  outline: 0;
  text-align: center;
}
.button:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#eee));
}
.dialog {
  background-color: black;
  color: white;
  width: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 10px 10px;
  border: 1px solid black;
  border-radius: 15px;
  -moz-border-radius: 15px;  /* FF lt 4 */
  box-shadow: 0px 5px 10px #000;
  -moz-box-shadow: 0px 5px 10px #000;  /* FF lt 4 */
  -webkit-box-shadow: 0px 5px 10px #000;  /* Safari le 5 */
  overflow: hidden;
  z-index: 20;
  outline: 0;
}
.dialog .title {
  margin-bottom: 10px;
}
.dialog .button {
  border: 1px solid #aaa;
  margin-top: 5px;
  margin-right: 5px;
}
.dialog-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 20;
}
.edit-event-dialog {
  width: 400px !important;
}
.edit-event-dialog .editor-row {
  margin-top: 8px;
}
.edit-event-dialog .button {
  margin-top: 8px;
}
.summary-input {
  margin-left: 10px;
  width: 300px;
  font-size: 16px;
  padding: 4px;
}
.date-time-input {
  font-size: 12px;
  padding: 3px;
  width: 80px;
}
.events-summary-dialog {
  width: initial;
  max-width: calc(100vw - 20px);
  min-width: 300px;
  max-height: calc(100vh - 20px);
}
.events-summary-dialog .summary {
  overflow: scroll;
  max-height: calc(100vh - 100px);
  outline: 0;
}
.events-summary-dialog .summary table {
  border-spacing: 8px 0px;
}
.events-summary-dialog .summary td.hours,
.events-summary-dialog .summary td.minutes {
  text-align: right;
}
.events-summary-dialog .summary td {
  white-space: nowrap;
}
.events-summary-dialog .filter-div {
  position: absolute;
  bottom: 10px;
  right: 20px;
}
.events-summary-dialog .filter-input {
  margin-left: 5px;
  font-size: 16px;
}
.notification {
  border: 1px solid #a00;
  background-color: #a00;
  color: white;
  white-space: nowrap;
  position: absolute;
}
.events-view {
  position: relative;
}
.events-view-scroll {
  background: #fff;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  box-sizing: border-box;
}
.events-timeline {
  background: #fff;
  outline: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  position: absolute;
  box-sizing: border-box;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.day-banner {
  color: white;
  cursor: pointer;
  position: absolute;
  background-color: rgba(40, 40, 40, 0.5);
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
}
.day-banner.inline {
  position: relative;
  top: 0px;
}
.time-axis {
  position: absolute;
  border-bottom: 1px solid #cdcdcd;
  width: 100%;
}
.time-axis > .time-box {
  border-right: 1px solid #cdcdcd;
  color: #666;
  text-align: right;
  height: 100%;
  box-sizing: border-box;
}
.time-axis > .time-box > .ampm {
  color: #999;
}
.time-axis-patch-canvas {
  position: absolute;
}
.time-marker {
  border-top: 2px solid;
  pointer-events: none;
  position: absolute;
}
.time-marker-label {
  text-align: right;
  position: absolute;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0.9);
}
.inline-events-editor {
  pointer-events: none;
  position: absolute;
  width: 100%;
}
.inline-events-editor > .button-bar {
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.inline-events-editor > .button-bar:first-child {
  bottom: inherit;
}
.inline-events-editor > .button-bar > .button {
  border-radius: 0px;
  text-align: center;
  padding: 0;
  pointer-events: auto;
}
.inline-events-editor > .button-bar > .button > .arrow {
  border: solid transparent;
  width: 0px;
  height: 0px;
  display: inline-block;
}
.inline-events-editor > .button-bar > .spacer {
  display: inline-block;
}
.inline-events-editor > .button-bar > .shadow {
  width: 100%;
  position: absolute;
}
.edge-events-editor {
  pointer-events: none;
  position: absolute;
  width: 100%;
}
.edge-events-editor > .button-bar {
  pointer-events: auto;
  background-color: #44444466;
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.edge-events-editor > .button-bar:first-child {
  bottom: inherit;
}
.edge-events-editor > .button-bar > .button {
  border-radius: 0px;
  vertical-align: middle;
  text-align: center;
  padding: 0;
}
.edge-events-editor > .button-bar > .button > .arrow {
  border: solid transparent;
  width: 0px;
  height: 0px;
  display: inline-block;
}
.edge-events-editor > .button-bar > .shadow {
  width: 100%;
  position: absolute;
}
.arrow.up {
  border-bottom-color: black !important;
  border-top-width: 0 !important;
}
.arrow.down {
  border-top-color: black !important;
  border-bottom-width: 0 !important;
}
.event-card {
  cursor: default;
  position: absolute;
  border: 1px solid;
  outline: 0;
  overflow: hidden;
  white-space: nowrap;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.event-card.selected {
}
.event-card.micro-height,
.event-card.short-height {
  text-overflow: ellipsis;
}
.event-card.large-height {
  white-space: normal;
}
.event-card.attached-to-patch {
  border-left-width: 0;
}
.event-card > .date-range {
  font-weight: bold;
}
.event-card.short-height > .date-range {
}
.event-card.micro-height > .date-range {
  display: inline;
}
.calendar-chooser {
}
.spinner {
  display: inline-block;
}
.date-picker {
  position: absolute !important;
  z-index: 30;
}

/* closure/goog/css/datepicker.css */

/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */

.goog-date-picker,
.goog-date-picker th,
.goog-date-picker td {
  font: 13px Arial, sans-serif;
}

.goog-date-picker {
  -moz-user-focus: normal;
  -moz-user-select: none;
  position: relative;
  border: 1px solid #000;
  float: left;
  padding: 2px;
  color: #000;
  background: #c3d9ff;
  cursor: default;
}

.goog-date-picker th {
  text-align: center;
}

.goog-date-picker td {
  text-align: center;
  vertical-align: middle;
  padding: 1px 3px;
}


.goog-date-picker-menu {
  position: absolute;
  background: threedface;
  border: 1px solid gray;
  -moz-user-focus: normal;
  z-index: 1;
  outline: none;
}

.goog-date-picker-menu ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.goog-date-picker-menu ul li {
  cursor: default;
}

.goog-date-picker-menu-selected {
  background: #ccf;
}

.goog-date-picker th {
  font-size: .9em;
}

.goog-date-picker td div {
  float: left;
}

.goog-date-picker button {
  padding: 0px;
  margin: 1px 0;
  border: 0;
  color: #20c;
  font-weight: bold;
  background: transparent;
}

.goog-date-picker-date {
  background: #fff;
}

.goog-date-picker-week,
.goog-date-picker-wday {
  padding: 1px 3px;
  border: 0;
  border-color: #a2bbdd;
  border-style: solid;
}

.goog-date-picker-week {
  border-right-width: 1px;
}

.goog-date-picker-wday {
  border-bottom-width: 1px;
}

.goog-date-picker-head td {
  text-align: center;
}

/** Use td.className instead of !important */
td.goog-date-picker-today-cont {
  text-align: center;
}

/** Use td.className instead of !important */
td.goog-date-picker-none-cont {
  text-align: center;
}

.goog-date-picker-month {
  width: 12ex;
}

.goog-date-picker-year {
  width: 6ex;
}

.goog-date-picker table {
  border-collapse: collapse;
}

.goog-date-picker-other-month {
  color: #888;
}

.goog-date-picker-wkend-start,
.goog-date-picker-wkend-end {
  background: #eee;
}

/** Use td.className instead of !important */
td.goog-date-picker-selected {
  background: #c3d9ff;
}

.goog-date-picker-today {
  background: #9ab;
  font-weight: bold !important;
  border-color: #246 #9bd #9bd #246;
  color: #fff;
}
