/* Copyright cantstopthesignals@gmail.com */
:root {
  --bg-color: #333;
  --text-color: #ddd;
  --event-text-color: #e8e8e8;
  --header-footer-bg-color: #222222;
  --time-axis-border-color: #222;
}
html {
  background: var(--bg-color);
  color: var(--text-color);
  height: 100%;
  overflow: hidden;
}
body {
  font-size: 16px;
}
body.main {
  font-family: Arial;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}
body > iframe {
  top: -100px;
}
a {
  color: #0000cc;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.app {
  height: 100%;
}
.app-bar {
  background-color: var(--header-footer-bg-color);
  box-sizing: border-box;
  height: 48px;
  padding: 8px;
  position: relative;
}
.app-bar-icon {
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
}
.app-icon {
  display: inline-block;
  height: 32px;
  overflow: hidden;
  width: 32px;
}
.app-icon > .inner {
  background: url(/images/logo32.png) no-repeat;
  height: 32px;
  width: 32px;
}
.app-bar-main-menu {
  color: var(--text-color);
  display: inline-block;
  font-size: 18px;
  height: 32px;
  line-height: 32px;
  position: relative;
  vertical-align: middle;
}
.app-bar-main-menu > .title {
  margin-right: 24px;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.app-bar-main-menu > .arrow {
  border-right: 10px solid #878787;
  border-top: 10px solid transparent;
  bottom: 0;
  height: 0;
  position: absolute;
  right: 0;
  width: 0;
}
.app-bar > .spinner {
  float: right;
  margin: 2px 5px 2px 0;
}
.app-bar-button-bar {
  float: right;
}
.app-bar-button-bar > .button {
  float: right;
  margin-left: 5px;
}
.footer {
  background-color: var(--header-footer-bg-color);
  color: #ddd;
  font-size: 13px;
  padding: 10px;
  text-align: center;
}
.footer > a {
  color: #99f;
}
.button {
  background: linear-gradient(#eee, #ccc);
  border-radius: 2px;
  border: 1px solid #999;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  outline: 0;
  padding: 5px 10px;
  text-align: center;
}
.button:active {
  background: linear-gradient(#ccc, #eee);
}
.dialog {
  background-color: black;
  border-radius: 15px;
  border: 1px solid black;
  box-shadow: 0px 5px 10px #000;
  color: white;
  left: 50%;
  outline: 0;
  overflow: hidden;
  padding: 10px 10px;
  position: absolute;
  top: 50%;
  width: 300px;
  z-index: 20;
}
.dialog .title {
  font-size: 20px;
  margin-bottom: 10px;
}
.dialog .button {
  border: 1px solid #aaa;
  margin-right: 5px;
  margin-top: 5px;
}
.dialog-background {
  background-color: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 20;
}
.edit-event-dialog {
  max-width: calc(100vw - 20px);
  width: 440px !important;
}
.edit-event-dialog .editor-row {
  margin-top: 8px;
}
.edit-event-dialog .button {
  margin-top: 8px;
}
.edit-event-dialog div.todo {
  float: right;
  line-height: 32px;
  margin-right: 5px;
  margin-top: 8px;
  user-select: none;
}
.edit-event-dialog div.todo > input {
  vertical-align: middle;
}
.summary-label {
  line-height: 29px;
  margin-right: 10px;
}
.summary-input {
  font-size: 16px;
  padding: 4px;
  width: 340px;
}
.date-input,
.time-input {
  font-size: 12px;
  font-family: Arial;
  padding: 2px;
}
.date-input::-webkit-clear-button {
  display: none;
}
.date-input::-webkit-datetime-edit {
  margin-right: -20px;
}
.time-input::-webkit-datetime-edit {
  margin-right: -10px;
}
.events-summary-dialog {
  max-height: calc(100vh - 20px);
  max-width: calc(100vw - 20px);
  min-width: 300px;
  width: initial;
}
.events-summary-dialog .summary {
  max-height: calc(100vh - 100px);
  outline: 0;
  overflow: scroll;
}
.events-summary-dialog .summary table {
  border-spacing: 8px 0px;
}
.events-summary-dialog .summary td.hours,
.events-summary-dialog .summary td.minutes {
  text-align: right;
}
.events-summary-dialog .summary td {
  white-space: nowrap;
}
.events-summary-dialog .filter-div {
  bottom: 10px;
  position: absolute;
  right: 20px;
}
.events-summary-dialog .filter-input {
  font-size: 16px;
  margin-left: 5px;
}
.notification {
  background-color: #a00;
  border-radius: 4px;
  border: 1px solid #a00;
  color: white;
  margin-top: 3px;
  padding: 3px 8px;
  position: absolute;
  white-space: nowrap;
  z-index: 30;
}
.notification.info {
  background-color: #666;
  border-color: #666;
}
.events-view {
  position: relative;
}
.events-view-scroll {
  background: var(--bg-color);
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}
.events-timeline {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: var(--bg-color);
  box-sizing: border-box;
  outline: 0;
  overflow: hidden;
  position: absolute;
  user-select: none;
}
.day-banner {
  background-color: #66666680;
  box-sizing: border-box;
  color: var(--text-color);
  cursor: pointer;
  font-size: 14px;
  padding: 4px 5px 4px 53px;
  position: absolute;
  top: 48px;
  width: 100%;
  z-index: 1;
}
.day-banner.inline {
  position: relative;
  top: 0px;
}
.time-axis {
  border-bottom: 1px solid var(--time-axis-border-color);
  position: absolute;
  width: 100%;
}
.time-axis > .time-box {
  border-right: 1px solid var(--time-axis-border-color);
  box-sizing: border-box;
  color: #999;
  font-size: 14px;
  height: 100%;
  padding: 2px;
  text-align: right;
  width: 41px;
}
.time-axis > .time-box > .ampm {
  color: #666;
  font-size: 13px;
  margin-top: -1px;
}
.time-axis-patch-canvas {
  position: absolute;
}
.time-marker {
  border-top: 2px solid;
  pointer-events: none;
  position: absolute;
}
.time-marker-label {
  background-color: rgba(51, 51, 51, 0.9);
  font-size: 14px;
  line-height: 16px;
  padding-right: 2px;
  pointer-events: none;
  position: absolute;
  text-align: right;
}
.inline-events-editor {
  pointer-events: none;
  position: absolute;
  width: 100%;
}
.inline-events-editor > .button-bar {
  bottom: -18px;
  box-sizing: border-box;
  height: 18px;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.inline-events-editor > .button-bar:first-child {
  bottom: inherit;
  top: -18px;
}
.inline-events-editor > .button-bar > .button {
  border-radius: 0px;
  height: 18px;
  padding: 0;
  pointer-events: auto;
  text-align: center;
  width: 18px;
}
.inline-events-editor > .button-bar > .button > .arrow {
  border-width: 4px;
  border: solid transparent;
  display: inline-block;
  height: 0px;
  margin: 6px 0px;
  width: 0px;
}
.inline-events-editor > .button-bar > .spacer {
  display: inline-block;
  width: 4px;
}
.inline-events-editor > .button-bar > .shadow {
  position: absolute;
  width: 100%;
}
.edge-events-editor {
  pointer-events: none;
  position: absolute;
  width: 100%;
}
.edge-events-editor > .button-bar {
  background-color: #bbbbbb55;
  bottom: -48px;
  box-sizing: border-box;
  height: 48px;
  line-height: 32px;
  overflow: hidden;
  padding: 8px 4px;
  pointer-events: auto;
  position: absolute;
  width: 100%;
}
.edge-events-editor > .button-bar:first-child {
  bottom: inherit;
  top: -48px;
}
.edge-events-editor > .button-bar > .button {
  background: initial;
  border-radius: 0px;
  border: initial;
  height: 32px;
  line-height: 32px;
  margin: 0px 4px;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  width: 32px;
}
.edge-events-editor > .button-bar > .button > .arrow {
  border: solid transparent;
  display: inline-block;
  height: 0px;
  width: 0px;
}
.edge-events-editor > .button-bar > .shadow {
  box-shadow: 0 0 16px 0px #333c;
  height: 10px;
  position: absolute;
  top: -10px;
  width: 100%;
}
.arrow.up {
  border-bottom-color: black !important;
  border-top-width: 0 !important;
}
.arrow.down {
  border-bottom-width: 0 !important;
  border-top-color: black !important;
}
.edge-events-editor > .button-bar > .button > .arrow {
  border-color: white transparent white transparent !important;
}
.edge-events-editor > .button-bar > .button > .arrow {
  border-width: 8px;
  margin: 12px 0px;
}
.event-card {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: var(--event-text-color);
  border: 1px solid;
  cursor: default;
  font-size: 13px;
  outline: 0;
  overflow: hidden;
  padding: 3px;
  position: absolute;
  white-space: nowrap;
}
.event-card.selected {
}
.event-card.micro-height,
.event-card.short-height {
  padding-bottom: 1px;
  padding-top: 1px;
  text-overflow: ellipsis;
}
.event-card.large-height {
  white-space: normal;
}
.event-card.attached-to-patch {
  border-left-width: 0;
}
.event-card > .date-range {
  color: #e8e8e8a0;
  font-size: 11px;
  font-weight: bold;
}
.event-card.short-height > .date-range {
  margin-bottom: -2px;
}
.event-card.micro-height > .date-range {
  display: inline;
  margin-right: 5px;
}
.calendar-chooser {
}
.spinner {
  display: inline-block;
  height: 28px;
  width: 28px;
}
.date-picker {
  position: absolute !important;
  z-index: 30;
}
.delete-button {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNNiAxOWMwIDEuMS45IDIgMiAyaDhjMS4xIDAgMi0uOSAyLTJWN0g2djEyek0xOSA0aC0zLjVsLTEtMWgtNWwtMSAxSDV2MmgxNFY0eiIgZmlsbD0id2hpdGUiLz48cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PC9zdmc+Cg==) no-repeat 50% !important;
}
.duplicate-button {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTYgMUg0Yy0xLjEgMC0yIC45LTIgMnYxNGgyVjNoMTJWMXptMyA0SDhjLTEuMSAwLTIgLjktMiAydjE0YzAgMS4xLjkgMiAyIDJoMTFjMS4xIDAgMi0uOSAyLTJWN2MwLTEuMS0uOS0yLTItMnptMCAxNkg4VjdoMTF2MTR6IiBmaWxsPSJ3aGl0ZSIvPjwvc3ZnPgo=) no-repeat 50% !important;
}
.edit-button {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMyAxNy4yNVYyMWgzLjc1TDE3LjgxIDkuOTRsLTMuNzUtMy43NUwzIDE3LjI1ek0yMC43MSA3LjA0Yy4zOS0uMzkuMzktMS4wMiAwLTEuNDFsLTIuMzQtMi4zNGMtLjM5LS4zOS0xLjAyLS4zOS0xLjQxIDBsLTEuODMgMS44MyAzLjc1IDMuNzUgMS44My0xLjgzeiIgZmlsbD0id2hpdGUiLz48cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PC9zdmc+Cg==) no-repeat 50% !important;
}
.now-button {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTE5IDNoLTFWMWgtMnYySDhWMUg2djJINWMtMS4xMSAwLTEuOTkuOS0xLjk5IDJMMyAxOWMwIDEuMS44OSAyIDIgMmgxNGMxLjEgMCAyLS45IDItMlY1YzAtMS4xLS45LTItMi0yem0wIDE2SDVWOGgxNHYxMXpNNyAxMGg1djVIN3oiIGZpbGw9IndoaXRlIi8+PC9zdmc+Cg==) no-repeat 50% !important;
}
.propose-button {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTkgMTNoLTZ2NmgtMnYtNkg1di0yaDZWNWgydjZoNnYyeiIgZmlsbD0id2hpdGUiLz48cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PC9zdmc+Cg==) no-repeat 50% !important;
}

/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */

/*
 * Standard styling for a goog.ui.PopupDatePicker.
 *
 * @author arv@google.com (Erik Arvidsson)
 */

.goog-date-picker {
  position: absolute;
}


/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */

/*
 * Standard styling for a goog.ui.DatePicker.
 *
 * @author arv@google.com (Erik Arvidsson)
 */

.goog-date-picker,
.goog-date-picker th,
.goog-date-picker td {
  font: 13px Arial, sans-serif;
}

.goog-date-picker {
  -moz-user-focus: normal;
  -moz-user-select: none;
  position: relative;
  border: 1px solid #000;
  float: left;
  padding: 2px;
  color: #000;
  background: #c3d9ff;
  cursor: default;
}

.goog-date-picker th {
  text-align: center;
}

.goog-date-picker td {
  text-align: center;
  vertical-align: middle;
  padding: 1px 3px;
}


.goog-date-picker-menu {
  position: absolute;
  background: threedface;
  border: 1px solid gray;
  -moz-user-focus: normal;
  z-index: 1;
  outline: none;
}

.goog-date-picker-menu ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.goog-date-picker-menu ul li {
  cursor: default;
}

.goog-date-picker-menu-selected {
  background: #ccf;
}

.goog-date-picker th {
  font-size: .9em;
}

.goog-date-picker td div {
  float: left;
}

.goog-date-picker button {
  padding: 0px;
  margin: 1px 0;
  border: 0;
  color: #20c;
  font-weight: bold;
  background: transparent;
}

.goog-date-picker-date {
  background: #fff;
}

.goog-date-picker-week,
.goog-date-picker-wday {
  padding: 1px 3px;
  border: 0;
  border-color: #a2bbdd;
  border-style: solid;
}

.goog-date-picker-week {
  border-right-width: 1px;
}

.goog-date-picker-wday {
  border-bottom-width: 1px;
}

.goog-date-picker-head td {
  text-align: center;
}

/** Use td.className instead of !important */
td.goog-date-picker-today-cont {
  text-align: center;
}

/** Use td.className instead of !important */
td.goog-date-picker-none-cont {
  text-align: center;
}

.goog-date-picker-month {
  min-width: 11ex;
  white-space: nowrap;
}

.goog-date-picker-year {
  min-width: 6ex;
  white-space: nowrap;
}

.goog-date-picker-monthyear {
  white-space: nowrap;
}

.goog-date-picker table {
  border-collapse: collapse;
}

.goog-date-picker-other-month {
  color: #888;
}

.goog-date-picker-wkend-start,
.goog-date-picker-wkend-end {
  background: #eee;
}

/** Use td.className instead of !important */
td.goog-date-picker-selected {
  background: #c3d9ff;
}

.goog-date-picker-today {
  background: #9ab;
  font-weight: bold !important;
  border-color: #246 #9bd #9bd #246;
  color: #fff;
}
