/* Copyright cantstopthesignals@gmail.com */

@import url('../../lib/closure-library/closure/goog/css/multitestrunner.css');

h1 {
  font: normal x-large arial, helvetica, sans-serif;
  margin: 0;
}
p, form {
  font: normal small sans-serif;
  margin: 0;
}
#header {
  position: absolute;
  right: 10px;
  top: 13px;
}
#footer {
  margin-top: 8px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.warning {
  font-size: 14px;
  font-weight: bold;
  width: 80%;
}
