/* Copyright cantstopthesignals@gmail.com */
body {
  font-size: 16px;
}
.app-bar {
  height: 48px;
  padding: 8px;
}
.app-bar-icon {
  margin-right: 8px;
}
.app-icon {
  width: 32px;
  height: 32px;
}
.app-icon > .inner {
  width: 32px;
  height: 32px;
  background: url(/images/logo32.png) no-repeat;
}
.app-bar-main-menu {
  font-size: 18px;
  height: 32px;
  line-height: 32px;
}
.app-bar-main-menu > .menu-text {
  max-width: 300px;
  margin-right: 24px;
}
.app-bar-main-menu > .menu-arrow {
  border-top: 10px solid transparent;
  border-right: 10px solid #878787;
}
.day-banner {
  font-size: 14px;
  padding: 4px 5px 4px 53px;
  top: 48px;
}
.time-axis > .time-box {
  font-size: 14px;
  padding: 2px 3px;
  width: 48px;
  height: 48px;
}
.time-axis > .time-box > .ampm {
  font-size: 13px;
  margin-top: -1px;
}
.event-card {
  padding: 2px;
  font-size: 13px;
}
.inline-editor {
  height: 48px;
  line-height: 48px;
}
.inline-editor > .shadow {
  height: 10px;
  top: -10px;
  box-shadow: 0 0 20px 0px #000;
}
.inline-editor .button {
  width: 32px;
  height: 32px;
  margin: 0 8px;
}
